
$primary-color:#485969;
$secondary-color:#4aacc5;
$light-color:#e1f0ff;
$success-color:#5fb59c;
$warn-color:#fa9938;
$error-color:#fb7166;
$bg-color:#ECF0F4;
$sdw-color:#CFD8DE;
body{
	color:darken($primary-color, 10%);
	background-color: $bg-color;
}
.app{
	

	.app-header{
		background-color:$primary-color;
		color:$light-color;
	}
	.app-menu{
		background-color:lighten($primary-color, 30%);
	}
}