$padding:6px;
$margin:6px;
$line-height:20px;
$font-size:14px;
$app-header-height:60px;
$app-footer-height:30px;
$app-header-padding: $app-header-height*0.2; 
$menu-width:$font-size*16 + $padding;
.app{ 
	font-size:$font-size;
	position:relative;
	margin:0 auto;
	&>header{ 
		position:relative;
		width:100%;
		height:$app-header-height;
		top:0; 
		left:0;
		padding:0 $app-header-padding;
		display: flex; 
		flex-flow: nowrap row;
		&>.app-title{
			flex-grow: 0;
			height: $app-header-height;
			line-height: $app-header-height;
			display: flex;
			flex-flow: nowrap row;
			justify-content: flex-start; 
			
		}
		&>.app-actions{
			flex-grow: 1;
			height: $app-header-height;
			display: flex; 
			flex-flow: nowrap row;
			justify-content:space-between;
			
		}
		&>.app-login-user{
			flex-grow: 0;
			height: $app-header-height;
			width: $app-header-height;
			&>ul{
				display:none;
			}
		}
	}

	&>.app-body{
		display: flex;
		flex-flow: wrap row;
		padding-top:$app-header-height; 
		padding-bottom:$app-header-height; 
		&>.app-menu{
			width:$menu-width;
			position:relative;
		}
		&>.app-workarea{
			flex-grow: 1;
			padding:$padding;
			&>.app-nav{
				height:20px;
				line-height:20px;
				ol{
					display: flex;
					flex-flow:wrap row;
					&>li{
						padding-left:10px;
					}
				}
			}
		}
	}
	&>footer{
		position:fixed;
		margin:0 auto;
		bottom:0;
		height:$app-footer-height;
	}
}
.app-menu{
	width:$menu-width;
	li{
		position:relative;
		width:$menu-width;
		line-height: $line-height;
		margin: $margin;
		&>a{
			display:block;
			height:$line-height;
		}
		&:hover>menu{
			display:block;
		}
	}
	menu{
		display: none;
	}
	&>li>menu menu{
		position:absolute;
		left:$menu-width;
		top:0;
	}
	
}